.wrap {
    width:80%;
    margin: 0 auto;
}
.header {
    background: #FFF;
}
.headertop_desc{
    padding:20px 0;
    border-bottom:1px solid #EEE;
}
.call{
    float:left;
}
.call p{
    font-size:0.9em;
    color:#9C9C9C;
}
.call p span{
    color:#303030;
    font-size:1em;
    font-weight:bold;
}
.call p span.number{
    color:#E4292F;
    font-size:1em;
    letter-spacing:1px;
}
.account_desc{
    float:right;
}
.account_desc li{
    display:inline;
    border-left:1px dotted #CCC;
}
.account_desc li:first-child{
    border:none;
}
.account_desc li a{
    font-size:0.823em;
    color:#9C9C9C;
    padding:0 10px;
    font-family: 'ambleregular';
}
.account_desc li a:hover{
    color:#E4292F;
}
.header_top {
    padding: 20px 0;
}
.logo {
    float: left;
}

/**** Cart ****/
.cart{
    float:right;
    position: relative;
    padding-right:40px;
    margin-top:20px;
}
.cart p{
    font-size:0.9em;
    color:#303030;
    display:inline-block;
}
.cart p span{
    font-size:1.5em;
    color:#E4292F;
}
.wrapper-dropdown-2 {
    display:inline-block;
    margin: 0 auto;
    font-size:0.9em;
    color:#303030;
    padding:0px 5px;
    cursor: pointer;
    outline: none;
}
.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right:5px;
    top: 50%;
    margin-top:0px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color:#E4292F transparent;
}
.wrapper-dropdown-2 .dropdown {
    position: absolute;
    top: 100%;
    width:75%;
    right: 0px;
    z-index:1;
    background:#EEE;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown-2 .dropdown li{
    display: block;
    text-decoration: none;
    color: #333;
    font-size:0.823em;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown-2 .dropdown li:hover a {
    color:red;
    background:#AAA;
}
.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/**** End Cart ****/
.header_bottom {
    background: #00cc66;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-rfadius: 6px;
    -o-border-radius: 6px;
}
.menu {
    float: left;
    border-radius: 5px;
}
.menu li {
    float:left;
}
.menu li a {
    font-family: 'ambleregular';
    font-size:0.823em;
    text-transform:uppercase;
    color: #fff;
    
    display:block;
    padding:16px 20px;
    border-right: 2px ridge #585858;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
}
.menu li a:hover,.menu li.active a{
    background:#B81D22;
}
.menu li:first-child  a{
    border-radius:6px 0 0 6px;
    -webkit-border-radius:6px 0 0 6px;
    -moz-border-rfadius:6px 0 0 6px;
    -o-border-radius:6px 0 0 6px;
}
.search_box {
    float: right;
    border: 1px solid #3C3C3C;
    background: #FFF;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    position: relative;
    margin-top:8px;
    margin-right: 15px;
    width:25%;
}
.search_box form input[type="text"] {
    border: none;
    outline: none;
    background: none;
    font-size:12px;
    color: #acacac;
    width:75%;
    padding:5px;
}
.search_box form input[type="submit"] {
    border: none;
    cursor: pointer;
    background: url(../images/search.png) no-repeat 0px 7px;
    position: absolute;
    right: 0;
    width: 20px;
    height: 25px;
}
